<form (ngSubmit)="addGroup()" class="mb-2 row">
  <div class="col">
    <div class="w-100">
        <button type="submit"
                [disabled]="nameControl.invalid"
                class="btn btn-success w-100">
          {{'ADD' | translate}}
        </button>
      </div>
  </div>

  <div class="form-group col-10">
    <input type="text"
           class="form-control"
           [formControl]="nameControl"
           [placeholder]="'GROUP_NAME' | translate"
    />
  </div>
</form>

<div *ngIf="error"
     class="mb-4 py-1 text-center alert-danger">
  {{'ERROR' | translate}}
</div>


<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
    <tr class="bg-secondary text-light">
      <th>
        {{'ID' | translate}}
      </th>
      <th>
        {{'GROUP_NAME' | translate}}
      </th>
      <th>
        {{'ACTIONS' | translate}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups">
      <td>{{group.id}}</td>
      <td>{{group.name}}</td>
      <td>
        <button type="button"
                [routerLink]="['/app/groups/edit', group.id]"
                class="btn btn-info">
          {{'DETAILS' | translate}}
        </button>
        <button type="button"
                *ngIf="currentUserId === group.administrator_id"
                (click)="removeGroup(group)"
                class="btn btn-danger ml-3">
          {{'DELETE' | translate}}
        </button>
      </td>
    </tr>
    <tr *ngIf="!groups?.length && !loading">
      <td colspan="3">{{'NO_GROUPS' | translate}}</td>
    </tr>
    <tr *ngIf="loading">
      <td colspan="3">{{'LOADING' | translate}}</td>
    </tr>
    </tbody>
  </table>
</div>


