<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
    <tr class="bg-secondary text-light">
      <th>
        {{'ID' | translate}}
      </th>
      <th>
        {{'GROUP_NAME' | translate}}
      </th>
      <th>
        {{'ACTIONS' | translate}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups">
      <td>{{group.id}}</td>
      <td>{{group.name}}</td>
      <td>
        <button type="button" class="btn btn-info">
          {{'DETAILS' | translate}}
        </button>
        <button type="button"
                (click)="removeGroup(group)"
                class="btn btn-danger ml-3">
          {{'DELETE' | translate}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
