<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container d-flex justify-content-center">
    <div class="w-100 d-lg-flex justify-content-between d-md-block">
      <h2 class="text-light text-center fs-1">SuperList</h2>


      <div class="d-flex">
        <div class="mr-2 d-flex justify-content-center align-items-center">
          <select class="form-control-sm" [(ngModel)]="currentLanguage">
            <option *ngFor="let lang of translations.availableLanguages"
                    [ngValue]="lang">
              {{lang | uppercase}}
            </option>
          </select>
        </div>

        <div class="navbar-nav d-flex justify-content-around">
          <a class="nav-link" routerLink="notes" routerLinkActive="active">{{'NOTES' | translate}}</a>
          <a class="nav-link" routerLink="groups" routerLinkActive="active">{{'GROUP_MANAGEMENT' | translate}}</a>
          <a class="nav-link" routerLink="account" routerLinkActive="active">{{'ACCOUNT' | translate}}</a>
        </div>

        <div class="ml-4">
          <button class="btn btn-danger btn-sm"
                  style="margin-top: 0.3rem;"
                  type="button"
                  (click)="userService.logout()">
            {{'LOGOUT' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<app-breadcrumbs></app-breadcrumbs>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
