<div class="card">
  <div class="card-header bg-secondary text-light d-flex justify-content-between">
    <div class="d-flex align-items-center">
      {{'ACCOUNT_INFO' | translate}}
    </div>
    <div>
      <button class="btn btn-success button-width"
              [routerLink]="['/app/account/edit', user.id]"
              style="min-width: 100px;">
        {{'EDIT' | translate}}
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">

      <div class="row mb-2">
        <div class="col-6 font-weight-bold">
          {{'ID' | translate}}:
        </div>
        <div class="col-6">
          {{user.id}}
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-6 font-weight-bold">
          {{'USERNAME' | translate}}:
        </div>
        <div class="col-6">
          {{user.name}}
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-6 font-weight-bold">
          {{'EMAIL' | translate}}:
        </div>
        <div class="col-6">
          {{user.email}}
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-6 font-weight-bold">
          {{'INVITATION_LINK' | translate}}:
        </div>
        <div class="col-6">
          {{user.invitationLink}}
        </div>
      </div>

    </div>
  </div>
</div>
