<h3 *ngIf="!groups?.length && !loading"
    class="text-center">
  {{'NO_GROUPS_NO_NOTES' | translate}}
</h3>

<ng-container *ngIf="groups?.length">
  <div class="mb-5 row">
    <div class="col">
      <button type="button"
              [routerLink]="['/app/notes/add', currentGroup.id]"
              class="btn btn-success w-100">
        {{'ADD' | translate}}
      </button>
    </div>


    <div class="col-10">
      <div class="form-group d-flex">
        <label class="col-form-label mr-2 font-weight-bold">{{ 'GROUP' | translate }}:</label>

        <select class="form-control"
                (change)="reloadNotes()"
                [(ngModel)]="currentGroup"
                id="group-select">
          <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <select [formControl]="sortingControl"
          class="form-control mb-2" style="width: 200px;">
    <option ngValue="none" *ngIf="!sortingAlreadyChanges">{{'NONE' | translate}}</option>
    <option ngValue="asc">{{'ASC' | translate}}</option>
    <option ngValue="desc">{{'DESC' | translate}}</option>
  </select>

  <h3 *ngIf="!notes?.length && !loading"
      class="text-center">
    {{'NOTES_LIST_EMPTY' | translate}}
  </h3>

  <div *ngIf="notes?.length" class="notes-container">
    <app-note *ngFor="let note of notes"
              (noteChange)="reloadNotes()"
              [note]="note">
    </app-note>
  </div>
</ng-container>


